.About-me {
  background: #fd2d78;
  padding-bottom: 60px;

  // &__hard-skills {
  //   max-width: 768px;
  //   margin-left: 30%;
  // }

  &__soft-skills {
    margin-top: 70px;
    max-width: 768px;
  }
}