.Header {
  &__root {
    padding: 24px 0;
    background: #002e3d;
    color: #f7f473;
  }

  &__logo {
    font-size: 40px;
    width: 100px;
    color: #f7f473;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: auto;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-item {
    margin-left: 40px;
    font-size: 24px;
    color: #f7f473;
  }

  &__burger {
    display: none;
    width: 44px;
  }

  @media (max-width: 768px) {
    &__burger {
      display: block;
    }

    &__nav {
      display: none;
    }
  }
}

