@font-face {
  font-family: 'PeachyKeenJF'; 
  src: url('../assets/fonts/Peachy_Keen_JF.otf');
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');