.Portfolio-item {
  svg {
    width: 100%;
    transform: rotate(360deg);
    display: block;
    background: #fff;
  }
  
  svg path {
    fill: #fd2d78;
  }
  
  &__root {
    padding-top: 100px;
    // background: #ffc833;
  }

  &__cover-wrapper {
    width: 100%;
  }

  &__cover {
    height: auto;
    width: 100%;
    max-width: 620px;
    margin: auto;
  }
  .AppList {
    background: #fff;
  }
  .AppListing {
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    padding: 20px;
  }

  .AppListing-title {
    font-size: 60px;
    margin: 0 0 5px 0;
    font-weight: bold;
    font-family: "PeachyKeenJF", sans-serif;
  }
  .AppListing-author {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
  }
  .AppListing-text {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .AppListing-list {
    padding-inline-start: 0px;
    margin: 5px 0;
  }
  
  .AppListing-link {
    list-style: none;

  }
  .AppListing-external {
    font-size: 30px;
    list-style: none;
    color: #6C00FF;
  }
  .AppListing-external::before {
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://static-fastly.play.date/static/images/toolbar-icon-news.ef543d84bf45.svg);
  }
  .AppListing-meta label {
    display: grid;
    place-items: center;
    border: 3px solid black;
    background-color: black;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    transition-property: background-color;
    cursor: pointer;



  }
  .AppListing-meta ul{
    padding: 0;
  }
  .AppListing-meta li{
    display: grid;
    margin-bottom: 20px;
  }
  @media (max-width: 768px) {
    .AppListing {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
    .AppListing-title {
      font-size: 40px;
    }
    .AppListing-author {
      font-size: 20px;
    }
    .AppListing-text {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .AppListing-external {
      font-size: 20px;
    }
    .AppListing-external::before {
      width: 15px;
      height: 15px;
    }
    .AppListing-meta ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      list-style: none;
      margin: 0px;
    }
    .AppListing-meta li {
      margin: 0;
    }
  }
}

