@import './App/Common/styles/fonts';

* {
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nanum Pen Script', cursive;
  background: #fd2d78;
}

button {
  font-family: "PeachyKeenJF", sans-serif;
}

.Grid-default {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2vw;
}

img {
  display: block;
  width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;

  &:hover {
    color: #00ffff;
    transform: scale(1.1);
  }
}

.App-content {
  max-width: 1400px;
  margin: auto;
  padding: 0 12px;
}
