.Soft-skills {
  &__text {
    font-family: 'PeachyKeenJF', sans-serif;
    font-size: 36px;
    margin-bottom: 24px;
    text-align: left;
  }
  @media (max-width: 768px) {
    &__text {
      font-size: 30px;
    }
  }

  &__video {
    background: #012f3c;
    padding: 8px;
  }
}