.Soft-skills {
  &__text {
    font-family: 'PeachyKeenJF', sans-serif;
    font-size: 36px;
    margin-bottom: 24px;
    text-align: left;
  }

  &__video {
    background: #012f3c;
    padding: 8px;
  }
}