.Portfolio {
  
  &__root {
    background: #00f5f5;
  }

  &__title {
    font-family: 'PeachyKeenJF', sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: right;
  }

  h4 {
    font-size: 44px;
    color: #fff;
    margin: 0;
  }

  svg {
    width: 100%;
    transform: rotate(360deg);
    display: block;
  }
  
  svg path {
    fill: #fd2d78;
  }

  &__cards {
    grid-template-columns: repeat(3, 1fr);
  }


  &__img-wrapper {
    border: 8px solid #002f3c;
  }

  @media(max-width: 768px) {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@keyframes magnifier {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}
